*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #00008B;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav li{
    list-style: none;
}
.nav a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px
}

.nav .search-container {
  float: right;
}

.nav input[type=text] {
  padding: 0px;
  margin-top: 3px;
  font-size: 17px;
  border: none;
}

.nav .search-container button {
  float: right;
  padding: 1px;
  margin-top: 1px;
  margin-right: 16px;
  background: #00008B;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .search-container button:hover {
  background: #00008B;
  text-decoration:underline;
  color: rgba(255, 255, 255, 1);
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav{
        width: 60px;
    }
}

@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .nav{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#00008B;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav li{
        opacity: 1;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}
}



#msg {
    visibility: hidden;
    min-width: 250px;
    background-color:yellow;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30%;
    top: 30px;
    font-size: 17px;
	margin-right:30px;
}

#msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}






body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(space-saving5.jpg);
    background-size: cover;
}
.signup
{
    background:rgba(44, 62, 80, 0.7);
	padding:40px;
	width:350px;
	margin:auto;
	margin-top:80px;
	height:500px;
	margin-left:180px;
	margin:0 auto;
	margin-top:90px;
}
form
{
    width: 240px;
    text-align: center;
}
input
{
    
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: #000;
    
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}
body
{background-color:#000000}