body{
	background-color: #1e2129;
}


iframe{
	padding-left: 135px;

}

textarea{
	width:850px;
	height:40px;
	background-color: #fff;
	resize: none;
	margin-left: 135px;
	margin-top: 20px;
}


button{
	
	width: 100px;
	height: 30px;
	margin-left: 135px;
	background-color: #282828;
	border:none;
	color:#fff;
	font-family: arial;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 40px;
	
}


 img{
	padding-left:135px;
	width: 200px;
	height:300px;
	float: left;
}



.comment-box{
	margin-left: 135px;
	width:815px;
	padding-left: 35px;
	margin-bottom:4px;
	background-color:#1e2129;
	border-radius:4px;
	position: relative;

}



.comment-box p{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	line-height: 16px;
	color:white;
	font-weight:100;
}

.edit-form{
	position: absolute;
	top:0px;
	right: 0px;
	color: white;
}


.edit-form button{
	width:20px;
	height:25px;
	color:rgb(226, 226, 226);
	background-color: #1e2129;
	opacity: 1;
}


.edit-form button:hover{
	opacity: 0.7;
	color: rgb(142, 149, 165);
}

.delete-form{
	position: absolute;
	top:0px;
	left: 475px;
}

.delete-form button{
	width:40px;
	height:25px;
	color:rgb(226, 226, 226);
	background-color: #1e2129;
	opacity: 1;
}


.delete-form button:hover{
	opacity: 0.7;
	color:rgb(142, 149, 165);
}
